@charset "UTF-8";

/*Підключаємо потрібний шрифт*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*Виключаємо базові стилі*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#FF3838, #348FFF);
  background-repeat: no-repeat;
}

.calculator__body {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 150px;
  border-radius: 5px;
  padding-bottom: 10px;
}
.calculator__input, .calculator__btn {
  font-size: 22px;
  border-radius: 7px;
  border: 2px solid #EDFFC5;
  height: 50px;
}

.calculator__input {
  margin: 20px 3% 0 3%;
  width: 52%;
  padding-left: 10px;
  color: #00126E;
}

.calculator__btn {
  width: 13%;
  margin: 10px 3% 10px 3%;
  cursor: pointer;
}

.calculator__btn:hover, .calculator__input:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
}

.calculator__btn__big-btn {
  width: 33%;
}